
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign-Up</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="showHome">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
           
          </ul>
        </nav>
        <h3 class="text-muted">Get a Room Now!</h3>
      </div>

      <div class="jumbotron">
        <h1>Sign Up Now</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputRoll" class="sr-only">Roll Number</label>
        <input type="rollno" name="inputRoll" id="inputRoll" class="form-control" placeholder="Roll Number" required autofocus>
        <label for="inputMobile" class="sr-only">Mobile</label>
        <input type="mobile" name="inputMobile" id="inputMobile" class="form-control" placeholder="Mobile" required autofocus>
        <label for="inputProgramme" class="sr-only">Programme</label>
        <select type="programme" name="inputProgramme" id="inputProgramme" class="selectpicker" required>
          <option name="inputProgramme" id="inputPrograamme">UG</option>
          <option name="inputProgramme" id="inputPrograamme">PG</option>
        </select>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>

      

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

